<br>
<br>
<br>
<br>
<br>
<<!----ul class="mt-5" *ngIf=category >
  <span *ngFor="let product of category">
    <li class="mt-5" >{{product.id}}</li>
    <li class="mt-1">{{product.name}}</li>
    <li class="mt-1">{{product.categoryName}}</li>
    <li class="mt-1">{{product.categoryDTO}}</li>
    <li class="mt-1">{{product.prix}}</li>
    <li class="mt-1">{{product.disponible}}</li>
    <li class="mt-1">{{product.description}}</li>
    <li class="mt-1">{{product.dateSortie}}</li>
    <li class="mt-1">{{product.pathUrlImage}}</li>
  </span>

</ul>-->
<div class="row"  >
  
  <div class="col-lg-3 ml-5 mt-2" *ngFor="let product of category">

      <div class="card ml-5" style="width: 18rem;">
      <img class="card-img-top" src="{{product.pathUrlImage}}" alt="Card image cap">
      <div class="card-body">
       <h5 class="card-title">{{product.name}}</h5>
  <p class="card-text "> {{product.description}}</p>
 <br/>   
 <p style="color:red;">Price:{{product.prix}} DT</p>
  <button
  (click) ="addToCart()"
  class="btn btn-primary">acheter</button>
</div>
</div>
</div>

</div>