<br>
<br>
<br>
<br>
<br>
<<!----ul class="mt-5" *ngIf=category >
  <span *ngFor="let product of category">
    <li class="mt-5" >{{product.id}}</li>
    <li class="mt-1">{{product.name}}</li>
    <li class="mt-1">{{product.categoryName}}</li>
    <li class="mt-1">{{product.categoryDTO}}</li>
    <li class="mt-1">{{product.prix}}</li>
    <li class="mt-1">{{product.disponible}}</li>
    <li class="mt-1">{{product.description}}</li>
    <li class="mt-1">{{product.dateSortie}}</li>
    <li class="mt-1">{{product.pathUrlImage}}</li>
  </span>

</ul>-->
<span *ngIf="category">
    <ul class="list">
        <li *ngFor="let product of category" class="list-item">
    <div>
        <article class="card">
            <header class="card__thumb">
                <a href="#"><img src="{{product.pathUrlImage}}"/></a>
            </header>
    
            <div class="card__body">
    
    
                <h2 class="card__title"><a href="#">{{product.name}}</a> </h2>
              
                <span *ngIf="product.disponible=='1';then thenBlock else elseBlock"></span>
                <ng-template #thenBlock ><span style="color:green"> In Stock </span></ng-template>
                <ng-template #elseBlock><span style="color:red"> Out of the stock </span></ng-template>
                    
                    
                
                <div class="card__subtitle">{{product.prix}} TND</div>
                <div class="card__description">
                <p> {{product.description}}</p>
                <a class="btn" >Add to cart</a>
              </div>
            </div>

        </article>
    </div>
    </li>
    </ul>
    











  <!-- <div class="container" style="margin-top:50px;margin-bottom: 50px">
    <div class="row">
        <div class="col-md-3 mb-5" *ngFor="let product of products ">
            <a [routerLink]="['/products/', product.id]"><img class="img-responsive" src="{{product.pathUrlImage}}" width="250px" alt="Card image cap"></a>
        </div>
      </div>
  </div> -->
</span>